.user-navbar {
  background-color: #e69e05;
  position: sticky;  
  top: 0;
  z-index: 1050;

  img {
    height: 30px;
  }

  .sidebar-toggle {
    background: none;
    border: none;
    color: white;

    &:focus {
      outline: none;
    }
  }

  .dropdown-toggle::after {
    display: none !important; // Remove the dropdown arrow
  }

  .custom-dropdown-menu .dropdown-item:hover {
    background-color: #f3f3f3 !important;
    color: #000;
  }

  .nav-icons {
    transition: all 0.3s ease;
    display: flex;
    align-items: center;

    .nav-icon-link {
      font-size: 1.5rem;
      transition: margin 0.3s ease;
    }

    .nav-profile-toggle {
      margin-right: 1rem; // right margin
      transition: margin 0.3s ease;
    }
  }

  // Move icons toward the left as screen size decreases
  @media (max-width: 992px) {
    .nav-icons {
      margin-left: auto;
      margin-right: 1rem;

      .nav-icon-link {
        margin-right: 0.75rem;
      }

      .nav-profile-toggle {
        margin-right: 0.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    .nav-icons {
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      .nav-icon-link {
        margin-right: 0.5rem;
      }

      .nav-profile-toggle {
        margin-right: 0.25rem;
      }
    }
  }
}
